doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='/style.css')
  body
    h1 simple program
    input#nums(type='type', autofocus=true, placeholder='enter some numbers')
    button#add Sum
    span#sum
    h2 Odds
    ul#odds
    h2 Evens
    ul#evens
    .oddSum
    .evenSum
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
